[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pre-commit = "*"
gunicorn = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.8"

[scripts]
start = "gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app -b 0.0.0.0:8000"
start-dev = "uvicorn app.main:app --reload"
start-ngrok = "scripts/run-ngrok"
